<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chy.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.chy.pojo.Comment">
            <id property="commentId" column="comment_id" jdbcType="INTEGER"/>
            <result property="commentContent" column="comment_content" jdbcType="VARCHAR"/>
            <result property="parentCommentId" column="parent_comment_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="parkinglotId" column="parkinglot_id" jdbcType="INTEGER"/>
            <result property="rating" column="rating" jdbcType="TINYINT"/>
            <result property="commentTime" column="comment_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        comment_id,comment_content,parent_comment_id,
        user_id,parkinglot_id,rating,
        comment_time
    </sql>
</mapper>
