<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chy.mapper.ParkinglotMapper">

    <resultMap id="BaseResultMap" type="com.chy.pojo.Parkinglot">
            <id property="parkinglotId" column="parkinglot_id" jdbcType="INTEGER"/>
            <result property="parkinglotDistrictId" column="parkinglot_district_id" jdbcType="INTEGER"/>
            <result property="parkinglotDistractName" column="parkinglot_distract_name" jdbcType="VARCHAR"/>
            <result property="parkinglotName" column="parkinglot_name" jdbcType="VARCHAR"/>
            <result property="parkinglotLocation" column="parkinglot_location" jdbcType="INTEGER"/>
            <result property="parkinglotNumber" column="parkinglot_number" jdbcType="INTEGER"/>
            <result property="parkinglotPrice" column="parkinglot_price" jdbcType="DOUBLE"/>
            <result property="parkinglotOpenTime" column="parkinglot_open_time" jdbcType="TIME"/>
            <result property="parkinglotEndTime" column="parkinglot_end_time" jdbcType="TIME"/>
            <result property="isFree" column="is_free" jdbcType="INTEGER"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        parkinglot_id,parkinglot_district_id,parkinglot_distract_name,
        parkinglot_name,parkinglot_location,parkinglot_number,
        parkinglot_price,parkinglot_open_time,parkinglot_end_time,
        is_free,version,is_deleted
    </sql>
</mapper>
