<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chy.mapper.ParkingOrderMapper">

    <resultMap id="BaseResultMap" type="com.chy.pojo.ParkingOrder">
            <id property="orderId" column="order_id" jdbcType="INTEGER"/>
            <result property="orderStatus" column="order_status" jdbcType="INTEGER"/>
            <result property="orderCreateTime" column="order_create_time" jdbcType="TIMESTAMP"/>
            <result property="orderUpdateTime" column="order_update_time" jdbcType="TIMESTAMP"/>
            <result property="parkinglotId" column="parkinglot_id" jdbcType="INTEGER"/>
            <result property="slotId" column="slot_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="carId" column="car_id" jdbcType="INTEGER"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        order_id,order_status,order_create_time,
        order_update_time,parkinglot_id,slot_id,
        user_id,car_id,version,
        is_deleted
    </sql>
</mapper>
