<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chy.mapper.PaymentMapper">

    <resultMap id="BaseResultMap" type="com.chy.pojo.Payment">
            <id property="paymentId" column="payment_id" jdbcType="INTEGER"/>
            <result property="orderId" column="order_id" jdbcType="INTEGER"/>
            <result property="paymentAmount" column="payment_amount" jdbcType="DECIMAL"/>
            <result property="paymentMethod" column="payment_method" jdbcType="OTHER"/>
            <result property="paymentTime" column="payment_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        payment_id,order_id,payment_amount,
        payment_method,payment_time
    </sql>
</mapper>
